@model taka3.Models.ProfilePageViewModel

@{
    ViewBag.Title = "FriendProfilePage";
}

<h2>@Model.UserFirstName @Model.UserLastName</h2>
@if (Model.AmIFollowing != true)
{
    @Html.Partial("_FollowButton", Model)
}
@if (Model.AmIFollowing == true)
{
    <h3>Þú ert að fylgja þessum notanda</h3>
}


<div>
    @foreach (var post in Model.UserPosts)
    {
        <p>@post.DateAndTime</p>

        if (post.Image != null)
        {
            <img src="~/Content/images/@post.ImageName" />
        }

        if (post.PostBody != null)
        {
            <p>@post.PostBody</p>
        }
        <div>
            @Html.ActionLink("Sjá og sýna athugasemdir", "PostComments",
            new { postid = post.ID })
        </div>
        
        <br />
    }
</div>