@model taka3.Models.ProfilePageViewModel

@{
    ViewBag.Title = "Profile";
}

<h2>@Model.UserFirstName @Model.UserLastName</h2>

<div>
    @foreach (var post in Model.UserPosts)
    {
        <div class="lists"> </div>
        <p class="time">@post.DateAndTime</p>
        
        if(post.Image != null)
        {
            <img src="~/Content/images/@post.ImageName" />
        }
        
        if (post.PostBody != null)
        {
            <p>@post.PostBody</p>
        }
        
        <div>
            @Html.ActionLink("Sjá og sýna athugasemdir", "PostComments",
            new { postid = post.ID })
        </div>
        <br/>

    }
</div>
<div>
    @Html.Partial("_ToDoPartial")
</div>